<nav class="navbar navbar-expand-lg navbar-dark bg-fore">
    <div class="container">
        <a class="navbar-brand" href="#">HighQuality</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse inter" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 gap-3 ms-4">
                <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                <a class="nav-link" href="#">Horario</a>
                <a class="nav-link" href="/dashboard/servicios">Servicios</a>

                <a class="nav-link ms-auto" href="#"><i class="fa-thin fa-user-cowboy"></i> {{user.name}}</a>
            </div>
        </div>
    </div>
</nav>