<nav class="navbar navbar-expand-lg navbar-dark bg-fore">
    <div class="container">
        <a class="navbar-brand nautigal" href="/dashboard/panel" style="font-size: 40px;">HighQuality</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse inter" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 gap-3 ms-4">
                <a class="nav-link" id="tab-panel" href="/dashboard/panel"><i class="fa-duotone fa-calendar-days"></i> Citas</a>
                <a class="nav-link" id="tab-horarios" href="/dashboard/horarios"><i class="fa-duotone fa-clock"></i> Horario</a>
                <a class="nav-link" id="tab-servicios" href="/dashboard/servicios"><i class="fa-duotone fa-scissors"></i> Servicios</a>

                <a class="nav-link ms-auto" href="#"><i class="fa-thin fa-user-cowboy"></i> {{user.name}}</a>
            </div>
        </div>
    </div>
</nav>

<script>
    const CURRENT_PAGE = "{{tab}}";
    $(document).ready(function() {
        $(`#tab-${CURRENT_PAGE}`).addClass("active");
        $(`#tab-${CURRENT_PAGE}`).attr("aria-current", "page");
    });
</script>