<div class="container-fluid inter">
    <div class="row mx-0 g-3 mt-2">
        <div class="col-lg-4">
            <div class="bg-fore p-3 rounded-3 shadow">
                <h5 class="fw-bold">Ganancias</h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bg-fore p-3 rounded-3 shadow">
                <h5 class="fw-bold">Citas Hoy</h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bg-fore p-3 rounded-3 shadow">
                <h5 class="fw-bold">Ganancias del Mes</h5>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="bg-fore p-3 rounded-3 shadow">
                <div id="calendar" class="text-capitalize"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/index.js"></script>