<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-5 fw-bold mb-4">Login</h1>
        <form action="/dashboard/Login" method="post">
            <input type="text" name="user" class="form-control form-control-lg" placeholder="Username">
            <input type="password" name="password" class="form-control form-control-lg mb-2" placeholder="Password">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>