<div class="container-fluid">
    <div class="row mx-0 g-3 mt-2">
        <section class="col-12">
            <div class="bg-fore shadow rounded-3 p-2 row mx-0 g-3">
                <div class="col-md-9 mb-0 mb-lg-3">
                    <h1 class="fw-bold"><i class="fa-duotone fa-scissors text-primary"></i> Servicios</h1>
                    <p class="text-light mb-1">Todos los servicios que ofrece HighQuality Barber</p>
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="text-muted small mt-1 mb-0 me-3"><i class="fa-solid fa-clock"></i> Actualizado hace: <span id="lastUpdated" class="text-primary">1 seg</span></p>
                        <p class="text-muted small mt-1 mb-0"><i class="fa-duotone fa-dice"></i> Total: <span id="totalitems" class="text-primary">20</span></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-start justify-content-lg-end align-items-center">
                    <button class="btn btn-primary w-100 mb-3 mb-lg-0" data-bs-toggle="modal" data-bs-target="#addService">
                        <i class="fa-duotone fa-square-plus"></i> Agregar Servicio
                    </button>
                </div>
            </div>
        </section>

        <section class="col-12 d-flex justify-content-center align-items-start gap-3 flex-wrap position-relative overflow-hidden" id="listaServicios">
            
        </section>
    </div>
</div>

<div class="modal fade" id="addService" tabindex="-1" aria-labelledby="addServiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addServiceLabel">
                    <i class="fa-duotone fa-scissors"></i> Agregar Servicio
                </h1>
                <button type="button" class="btn-close btn-close-white" 
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-1">
                <div class="row mx-0">
                    <div class="col-12 mb-2">
                        <label for="nombre" class="form-label">Nombre del servicio</label>
                        <input type="text" class="form-control form-control-lg" id="nombre-add" placeholder="Nombre">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="precio" class="form-label">Precio del servicio</label>
                        <input type="number" class="form-control form-control-lg" id="precio-add" placeholder="Precio">
                    </div>
                    <div class="col-12">
                        <hr class="my-1">
                    </div>
                    <div class="col-12 d-flex justify-content-start align-items-center py-3">
                        <div class="my-2">
                            <div class="dropdown dropup">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Icono
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" id="imagesToSelect" 
                                style="max-height:300px; overflow-y:auto;"></ul>
                            </div>
                        </div>
                        <div id="imagenseleccionada" class="ms-4" style="filter: invert(1);">
                            <img src="/images/icons/corte.png" width="50px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="agregarServicio()">
                    <i class="fa-duotone fa-circle-plus"></i> Agregar Servicio
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editService" tabindex="-1" aria-labelledby="editServiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editServiceLabel">
                    <i class="fa-duotone fa-scissors"></i> Editar Servicio
                    <span class="small text-muted d-block" id="idUpdate"></span>
                </h1>
                
                <button type="button" class="btn-close btn-close-white" 
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-1">
                
                <div class="row mx-0">
                    <div class="col-12 mb-2">
                        <label for="nombre" class="form-label">Nombre del servicio</label>
                        <input type="text" class="form-control form-control-lg" id="nombre-edit" placeholder="Nombre">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="precio" class="form-label">Precio del servicio</label>
                        <input type="number" class="form-control form-control-lg" id="precio-edit" placeholder="Precio">
                    </div>
                    <div class="col-12">
                        <hr class="my-1">
                    </div>
                    <div class="col-12 d-flex justify-content-start align-items-center py-3">
                        <div class="my-2">
                            <div class="dropdown dropup">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Icono
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" id="imagesToSelect-edit" 
                                style="max-height:300px; overflow-y:auto;"></ul>
                            </div>
                        </div>
                        <div id="imagenseleccionada-edit" class="ms-4" style="filter: invert(1);">
                            <img src="/images/icons/corte.png" width="50px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-light" onclick="actualizarServicio()">
                    <i class="fa-duotone fa-save"></i> Actualizar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/servicios.js"></script>