// ? Full Calendar
.fc-theme-standard td, .fc-theme-standard th{
    border: 1px solid $dark !important;
}
.fc-theme-standard .fc-scrollgrid{
    border: none !important;
}
.fc .fc-col-header-cell-cushion{
    padding: 10px 4px !important;
}
.fc .fc-button-primary{
    background-color: $primary !important;
    border-color: $primary !important;
    color: $light !important;
}


// ? Modal
.modal .modal-footer{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

// ? Forms

.form-check.form-check-lg{
    .form-check-input{
        width: 2.8rem !important;
        height: 1.5em !important;
    }
}
.form-check.form-check-flex.form-switch.form-switch-lg{
    .form-check-input{
        width: 2.5em !important;
        height: 1.5em !important;
    }
}

// ? Buttons
.btn.btn-secondary{
    color: white !important;
}