<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - HighQuality Barber</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/001-barber-pole.png">
    <meta name="robots" content="noindex, nofollow">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#111111">
    
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/fonts/icons/pro/css/all.css">
    <link rel="stylesheet" href="/fonts/icons/free/css/all.css">
    <link rel="stylesheet" href="/scripts/animate.css/animate.min.css">
    <link rel="stylesheet" href="/scripts/sweetalert2/dist/sweetalert2.min.css"></link>

    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/moment/min/moment.min.js"></script>
    <script src="/scripts/moment/locale/es.js"></script>
    <script src="/scripts/animejs/lib/anime.min.js"></script>
    <script src="/scripts/axios/dist/axios.min.js"></script>

    <script src="/scripts/sweetalert2/dist/sweetalert2.min.js"></script>

</head>
<body class="overflow-x-hidden">
    {{>admin/header}}
    <main class="inter">
        {{{body}}}
    </main>
</body>
</html>