<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighQuality Barber | Alfonso Acuña</title>
    <meta name="description" content="HighQuality Barber es una barbería que brinda los mejores cortes de cabello, servicio premium a nuestros clientes, ubicada en Hatillo 3, San Jose.">
    <meta name="keywords" content="highquality, high quality, barber, highquality barber, High, Quality, Barberia, Cortes de pelo, cabello, premium, servicios, confianza, hatillo 3, hatillo, san jose, costa rica, central, experiencia, cejas, black mask, alissette">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/001-barber-pole.png">
    <!-- <meta name="facebook-domain-verification" content="e65s1a6eeu6n81rszxu9z1rnvy257f" /> -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#111111">
    
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/fonts/icons/pro/css/all.css">
    <link rel="stylesheet" href="/fonts/icons/free/css/all.css">
    <link rel="stylesheet" href="/scripts/animate.css/animate.min.css">
    <link rel="stylesheet" href="/scripts/sweetalert2/dist/sweetalert2.min.css"></link>

    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/moment/min/moment.min.js"></script>
    <script src="/scripts/moment/locale/es.js"></script>
    <script src="/scripts/animejs/lib/anime.min.js"></script>

</head>
<body class="overflow-x-hidden">
    {{{body}}}
</body>
</html>